
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.inline-flex {
    display: inline-flex !important;
}
.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-stretch {
    align-items: stretch;
}

.flex-item {
    flex: 1;
   
}

.flex-item-grow {
    flex-grow: 1;
}

.flex-item-shrink {
    flex-shrink: 1;
}

.flex-item-basis {
    flex-basis: auto;
}

.flex-item-align-self-start {
    align-self: flex-start;
}

.flex-item-align-self-center {
    align-self: center;
}

.flex-item-align-self-end {
    align-self: flex-end;
}

.flex-item-align-self-stretch {
    align-self: stretch;
}
