@font-face {
    font-family: "Cairo";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Cairo/static/Cairo-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Cairo";
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Cairo/static/Cairo-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "Cairo";
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Cairo/static/Cairo-ExtraBold.ttf') format("truetype");
}
