@font-face {
    font-family: "Plus_Jakarta_Sans";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Plus_Jakarta_Sans";
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "Plus_Jakarta_Sans";
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf') format("truetype");
}
